<style>
        .ss_ad{
            display: block;
            width: 100%;
            text-align: center;
            color: #fff;
            background: #0088CC;
			font-family: Microsoft YaHei;
        }
		a.ss_ad{
			border:0;
			color:#fff;
		}
		a.ss_ad:hover{
				text-decoration:none;
				color:#fff;
		}
</style>
<div class="post-block animated fadeIn" style="margin-top:20px; padding: 0px; background: #0088cc">
<a class="ss_ad" style="font-size:22px" href="https://order.yizhihongxing.network/aff.php?aff=3671" target="_blank">可靠便捷的VPN服务</a>
<a class="ss_ad" style="font-size:15px" href="https://order.yizhihongxing.network/aff.php?aff=3671" target="_blank">100 G 月流量，5台设备可用，一年仅需99元！</a>
</div>